# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# --- Visual Studio IDE files ---
.vs/
*.vcxproj*
*.vcxproj.filters
*.sln

# --- CMake build folders ---
build/
Build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- Project binaries ---
*.exe
*.dll
*.pdb
*.lib
*.exp

# --- Ignore external prebuilt libraries ---
external/*/include/*
external/*/lib/*
external/*/bin/*
